.header_nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding: 25px 100px 0 0;
}

.nav_text {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Bayon', sans-serif;
    cursor: pointer;
    transition: all .2s;
}

.nav_text:hover {
    color: #f7d932;
    transition: all .2s;
}