.header {
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  background: #000;
  display: flex;
}

.left {
  width: 260px;
}

.center {
  width: 1400px;
}

.account {
  width: 260px;
  padding-right: 50px;
}