footer {
    height: 150px;
    background-color: #141414;
    display: flex;
}

.left {
    height: 100%;
    width: 20%;
    padding: 30px 0 30px 40px;
}

.logo_container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid grey;
}

.logo_container > span {
    font-size: 60px;
    color: #f7d932;
    font-family:'Lovers Quarrel', cursive;
}

.right {
    height: 100%;
    width: 80%;
    padding: 40px 40px 40px 0;
}

.text_container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 50px;
}

.text {
    width: 50%;
    color: grey;
}